*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  background-color: bisque;
  padding:20px;
  text-align: center;
}


.cast-info img{
  height: 250px;
  width: 160px;
  object-fit: cover;
}